
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 36px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-media li a {
    color: #fff;
    text-decoration: none;
}

/* header */
/* Remove existing header navigation styles */
.header-nav {
    display: none;
}

.header-nav li {
    display: block;
    margin-right: 0;
    text-align: center;
}

/* Custom styles for the hamburger menu icon */
.navbar-toggler {
    color: #fff; /* Color of the hamburger menu icon */
    border: none; /* Remove border */
    padding: 0.25rem 0.75rem; /* Padding for the hamburger menu icon */
    font-size: 1.25rem; /* Adjust font size */
    background-color: transparent; /* Transparent background */
}

.navbar-toggler:focus {
    outline: none; /* Remove focus outline */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none; /* Hide the hamburger menu icon on larger screens */
    }

    .header-nav {
        display: block; /* Display the navigation links on larger screens */
    }
}


/* About Section */
.about-section {
    background-color: #f8f8f8; /* Light background color */
    padding: 50px 0; /* Add padding */
}

.about-heading {
    font-size: 36px; /* Larger font size */
    margin-bottom: 20px; /* Add margin bottom */
    text-align: center; /* Center the heading */
}

.about-content {
    background-image: url('img/monkeyMusic.jpg'); /* Add the path to your image */
    font-size: 16px; /* Font size */
    line-height: 1.6; /* Line height */
    text-align: center; /* Center the heading */
    background-size: cover;
    background-position: center;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Add border-radius for curved corners */
}

.about-content p {
    margin-bottom: 20px; /* Add margin bottom */
    color: #ffffff; /* Set text color to ensure readability */
}

.quarterP {
    text-align: center; /* Center text within paragraph */
    color: #ffffff; /* Set text color to ensure readability */
    text-align: center; /* Center the heading */
    margin: 0 10px;
}

#firstpar {
    margin-top: 65px; /* Add margin bottom */
}

#lastpar{
    margin-bottom: 65px; /* Add margin bottom */
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

/* Define background colors for each column */
.quarters-container {
    margin-top: 0px; /* Add margin bottom */
    margin-left: 25px; /* Add margin bottom */
    padding: 20px; /* Add padding for spacing */
    padding-top: 0;

}


.quarters-container .col-sm-6 {
    padding: 10px; /* Add padding for spacing between quarters */
}


.quarters-container {
    margin-top: 20px; /* Add margin to separate from the about-content */
}

.quarter {
    height: 100px; /* Set height for each quarter */
    width: 80%; /* Set width for each quarter */
    margin-bottom: 10px; /* Add margin to separate quarters */
    margin-left: 20px; /* Add margin to separate quarters */
    border-radius: 10px; /* Add border-radius for curved corners */
    justify-content: center;
    align-items: center;
    background-color: #8b2323; /* Default background color */
    display: flex;
}



/* Music Section */
.music-section {

    background-image: url('img/showposter.jpg'); /* Add the path to your image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    color: #fff; /* Text color */
    padding: 100px 0; /* Adjust padding as needed */
    
}

.music-heading {
    font-size: 36px; /* Larger font size */
    margin-bottom: 20px; /* Add margin bottom */
    text-align: center; /* Center the content */
}

.music-content {
    font-size: 16px; /* Font size */
    line-height: 1.6; /* Line height */
    text-align: center; /* Center the content */
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background color to improve readability */
    padding: 20px; /* Add padding to the content */
}

.music-content p {
    margin-bottom: 15px; /* Add margin bottom */
}

.about-image {
    border-radius: 15px; /* Adjust the value to change the degree of curvature */
    width: 80%; /* Reduce the size by 20% */
}

/* Shows Section */

.shows-section {

    background-image: url('img/stageShowposter.jpg'); /* Add the path to your image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    color: #fff; /* Text color */
    padding: 100px 0; /* Adjust padding as needed */
}

.shows-heading {
    font-size: 36px; /* Larger font size */
    margin-bottom: 20px; /* Add margin bottom */
    text-align: center; /* Center the heading */
    color: #403b3b; /* Text color */
}

.upcoming-shows-heading {
    font-size: 24px; /* Larger font size for upcoming shows heading */
    margin-bottom: 10px; /* Add margin bottom */
    margin-top: 20px; /* Add margin at the top */
}

.upcoming-shows-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.upcoming-shows-list li {
    margin-bottom: 10px; /* Add margin bottom for each list item */
}

.shows-content {
    font-size: 16px; /* Font size */
    line-height: 1.6; /* Line height */
    text-align: center; /* Center the content */
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background color to improve readability */
    padding: 20px; /* Add padding to the content */
}

.ticket-link {
    color: rgb(235, 8, 8); /* Change the color to indicate it's not clickable */
    text-decoration: none; /* Remove underline */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

/* Responsive styling for YouTube video */
.video-container {
    position: relative;
    width: 80%;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    overflow: hidden;
    max-width: 100%;
    margin: auto; /* Center the video */
    border-radius: 10px; /* Corner radius */
}

.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    border: none; /* Remove border */
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Corner radius */
}


/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 0 10px; /* Reduce padding for smaller screens */
    }
}

/* Booking Section */
.booking-section {
    background-color: #f9f9f9; /* Light background color */
    padding: 50px 0; /* Add padding */
}

.booking-heading {
    font-size: 36px; /* Larger font size */
    margin-bottom: 20px; /* Add margin bottom */
    text-align: center; /* Center the heading */
}

.booking-content {
    font-size: 16px; /* Font size */
    line-height: 1.6; /* Line height */
    text-align: center; /* Center the content */
}

.booking-form {
    border: 2px solid #333; /* Add border */
    border-radius: 5px; /* Add border radius */
    padding: 20px; /* Add padding */
    max-width: 500px; /* Set maximum width for the form */
    margin: 0 auto; /* Center the form */
}

.booking-form label {
    display: block; /* Display labels as block elements */
    margin-bottom: 10px; /* Add margin bottom */
}

.booking-form label,
.booking-form input,
.booking-form textarea,
.booking-form input[type="submit"] {
    display: block; /* Display elements as blocks */
    width: 100%; /* Full width */
    margin-bottom: 4px; /* Add margin at the bottom */
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="date"],
.booking-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Add margin bottom */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.booking-form input[type="submit"] {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    border: none;
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer;
}

.booking-form input[type="submit"]:hover {
    background-color: #555; /* Darker background color on hover */
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .booking-form {
        max-width: 80%; /* Reduce maximum width for smaller screens */
    }
}


/* Merchandise Section */

.merchandise-section {
    background-color: #fcf8e3; /* Light yellow background color */
    padding: 50px 0; /* Add padding */
}

.merchandise-heading {
    font-size: 36px; /* Larger font size */
    margin-bottom: 20px; /* Add margin bottom */
    text-align: center; /* Center the heading */
}

.merchandise-content {
    font-size: 16px; /* Font size */
    line-height: 1.6; /* Line height */
    text-align: center; /* Center the content */
}

.merchandise-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add space between items */
}

.merch-item {
    flex-basis: calc(50% - 20px); /* Adjust item width */
    margin-bottom: 30px; /* Add margin bottom */
    width: 300px; /* Set a fixed width for items */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.merch-item img {
    max-width: 100%; /* Make images responsive */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 10px; /* Add margin bottom */
    height: auto;
    border-radius: 5px;
}

.merch-item h3 {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 5px; /* Add margin bottom */
}

.merch-item p {
    margin-bottom: 10px; /* Add margin bottom */
}

.merch-item button {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    border: none;
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer;
}

.merch-item button:hover {
    background-color: #555; /* Darker background color on hover */
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .merch-item {
        width: calc(50% - 20px); /* Set width to 50% minus margin */
    }
}

@media (max-width: 576px) {
    .merch-item {
        width: calc(100% - 20px); /* Set width to 100% minus margin */
    }
}


/* Footer */
.contact-footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 20px 0; /* Add padding */
}


.contact-info {
    text-align: center; /* Center the contact info */
    margin-bottom: 20px; /* Add margin bottom */
}

.social-media {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center the social media icons */
}

.social-media li {
    display: inline-block; /* Display icons inline */
    margin: 0 10px; /* Add margin between icons */
}

.social-media li:last-child {
    margin-right: 0; /* Remove margin right for the last item */
}

.social-media li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px; /* Font size */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    background-color: #555; /* Button background color */
    transition: background-color 0.3s ease; /* Smooth transition */
}



.social-media .social-link {
    display: inline-block;
    width: 40px; /* Adjust the width of the icon container */
    height: 40px; /* Adjust the height of the icon container */
    background-color: #333; /* Background color of the icon container */
    border-radius: 50%; /* Make the container round */
    text-align: center;
    line-height: 40px; /* Center the icon vertically */
    margin-right: 10px; /* Add margin between icons */
}

.social-media .social-link i {
    color: #fff; /* Color of the icon */
    font-size: 20px; /* Adjust the size of the icon */
    transition: color 0.3s ease; /* Smooth transition */
}

.social-media li a:hover {
    color: #ccc; /* Change color on hover */
}

.social-media .social-link:hover i {
    color: #777; /* Darker color on hover */
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .social-media li {
        margin: 0 5px; /* Reduce margin between icons */
    }
}

@media (max-width: 576px) {
    .contact-info {
        font-size: 14px; /* Reduce font size for smaller screens */
    }

}


