{% extends "base.html" %}
{% block styles %}
<style>
    .music-section {
        background-image: url("{{ url_for('static', filename='img/showposter.jpg') }}");
    }

    .shows-section {

        background-image: url("{{ url_for('static', filename='img/stageShowposter.jpg') }}");
    }

    .about-content {
        background-image: url("{{ url_for('static', filename='img/monkeyMusic.jpg') }}");
    }
</style>
{% endblock %}

{% block content %}


<!-- Music section -->
<section id="music" class="music-section">
    <div class="container">
        <!-- Section title -->
        <h2 class="music-heading">Music</h2>
        <!-- Section content -->
        <div class="music-content">
            <!-- Paragraphs describing the band's music -->
            <p>Experience the sonic journey of Soundwave Symphony with our diverse collection of tracks that span
                genres and evoke emotions. Whether you're craving catchy pop hooks, soulful ballads, or
                adrenaline-pumping rock anthems, our music has something for everyone.</p>

            <p>Stream our latest singles or dive into our full-length albums to discover the depth and breadth of
                our musical repertoire. From heartfelt lyrics that tug at the heartstrings to infectious melodies
                that get you grooving, each song is a testament to our passion for creating unforgettable music.</p>

            <p>Prefer to take our tunes on the go? You can find Soundwave Symphony on all major streaming platforms,
                including Spotify, Apple Music, and Amazon Music. So crank up the volume, press play, and let the
                music of Soundwave Symphony take you on a sonic adventure like no other.</p>

            <p>Stay tuned for updates on our upcoming releases and exclusive behind-the-scenes content. And don't
                forget to follow us on social media for the latest news and announcements!</p>
        </div>
    </div>
</section>



<!-- Shows section -->
<section id="shows" class="shows-section">
    <div class="container">
        <!-- Section title -->
        <h2 class="shows-heading">Shows</h2>
        <!-- Section content -->
        <div class="shows-content">
            <!-- Paragraphs inviting to attend shows -->
            <p>Join us for an unforgettable live experience at one of our upcoming shows and events! From intimate
                club gigs to electrifying festival performances, Soundwave Symphony brings the energy and excitement
                to every stage we grace.</p>

            <p>Check out our tour schedule below to find out when we'll be coming to a city near you. Be sure to
                mark your calendars and grab your tickets early to secure your spot for an epic night of music and
                memories.</p>

            <h3 class="upcoming-shows-heading">Upcoming Shows:</h3>
            <ul class="upcoming-shows-list">
                <!-- Details of an upcoming show -->
                <li><strong>Date:</strong> 30 - April - 2024 </li>
                <li><strong>Venue:</strong> Wale Millennium Center</li>
                <li><strong>Location:</strong> Cardiff, Wales</li>
                <li><strong>Tickets:</strong> <a href="#" class="ticket-link">Tickets Not Available Yet</a></li>
            </ul>

            <p>Can't find a show in your area? Don't worry, we're always adding new dates and venues to our tour
                schedule. Be sure to sign up for our newsletter and follow us on social media to stay updated on all
                the latest announcements and tour dates!</p>

            <!-- Embed YouTube video preview -->
            <div class="video-container responsive-video" controls>
                <iframe class="youtube-video" src="https://www.youtube.com/embed/qaaohm2sZSE"
                    title="A Concert Show Day in 2 Minutes of Video" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</section>
{% endblock %}