{% extends "base.html" %}
{% block styles %}
<style>
.fullscreen-image {
    width: 100%;
    height: 80vh;
    object-fit: fill; /* Maintain aspect ratio, fit within the container */
}

.fullscreen-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ensure it takes at least the full viewport height */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-heading {
    top: 38%;
}


    @media screen and (max-height: 1000px) {
        .contact-heading {
        top: 36%;
        font-size: 4rem;
     }

     .contact-subheading {
        font-size: 1.4rem;
     }
    }

    @media screen and (max-height: 850px) {
        .contact-heading {
        top: 35%;
        font-size: 3.5rem;
     }

     .contact-subheading {
        font-size: 1rem;
     }
    }
    @media screen and (max-height: 667px) {
        .contact-heading {
        top: 33%;
     }

    }

</style>
{% endblock %}
{% block content %}
<section id="booking" class="booking-section">
    <div class="fullscreen-image-container">
        <img src="{{ url_for('static', filename='img/monkeyMusic.jpg') }}" alt="Soundwave Symphony T-shirt"
            class="fullscreen-image">
        <h2 class="contact-heading">About Us</h2>
        <p class="contact-subheading">This is what we do.</p>
    </div>
    <div class="container">
        <div class="booking-content">
            <!-- Paragraphs describing booking information -->
            <p id="firstpar">Soundwave Symphony is a dynamic and versatile band hailing from the vibrant music scene
                of Cardiff, Wales. Formed in 2016, the band's journey began when a group of talented musicians came
                together with a shared passion for creating unforgettable melodies and captivating performances.</p>

            <p>With influences ranging from classic rock to modern pop, Soundwave Symphony crafts a unique sound
                that resonates with audiences of all ages. Their music is characterized by infectious rhythms,
                soulful lyrics, and electrifying guitar solos.</p>

            <p>Since their inception, Soundwave Symphony has graced countless stages, captivating audiences with
                their high-energy performances and magnetic stage presence. From intimate club gigs to large-scale
                festivals, the band's dynamic performances leave a lasting impression on all who experience them.
            </p>

            <p id="lastpar">Beyond their musical talents, Soundwave Symphony is known for their commitment to giving
                back to the community. They frequently participate in charity events and fundraisers, using their
                platform to make a positive impact on the world.</p>
        </div>
    </div>
    {% for member in company %}

    <div class="row featurette">

        {% if loop.index % 2 != 0 %}

            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                <p>{{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive right-image">
            </div>
        
        {% else %}

            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>
            <div class="col-md-7">
                <h3 class="left-image"><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                <p class="left-image">{{ member.description }}</p>
            </div>

        {% endif %}

    </div>

    {% if loop.index != loop.length %}

        <hr class="featurette-divider">

    {% endif %}

{% endfor %}
</section>

{% endblock %}