{% extends "base.html" %}
{% block content %}
<!-- Booking Section -->
<section id="booking" class="booking-section">
    <div class="container">
        <h2 class="booking-heading">Booking</h2> <!-- Heading for Booking section -->
        <div class="booking-content">
            <!-- Paragraphs describing booking information -->
            <p>Interested in booking Soundwave Symphony for your next event? We'd love to bring our electrifying
                energy and dynamic performances to your stage!</p>
            <p>Whether you're planning a corporate event, wedding reception, private party, or music festival,
                Soundwave Symphony is ready to rock your audience and make your event an unforgettable experience.
            </p>
            <p>To inquire about our availability and pricing, please fill out the booking inquiry form below. Our
                team will get back to you as soon as possible to discuss your event details and customize a package
                that meets your needs.</p>
            <div class="row card-panel grey lighten-5">
                <!-- Booking Inquiry Form -->
                <form class="col s12" id="booking-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="name" name="name" class="validate" autocomplete="name" required>
                            <label for="name">Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="email" id="email" name="email" class="validate" autocomplete="email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <select id="event-type" name="event-type" required>
                                <option value="" disabled selected>Select Event Type</option>
                                <!-- Default and disabled option -->
                                <option value="Corporate Event">Corporate Event</option>
                                <option value="Wedding Reception">Wedding Reception</option>
                                <option value="Private Party">Private Party</option>
                                <option value="Music Festival">Music Festival</option>
                            </select>
                            <label for="event-type">Event Type</label>
                        </div>
                    </div>

                    <!-- date picker -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="date" name="date" type="text" value=""
                                class="datepicker datepicker-date-display validate" required>
                            <label for="date">Event Date</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="message" name="message" rows="4" minlength="5" maxlength="200"
                                class="materialize-textarea validate" required></textarea>
                            <label for="message">Message:</label>
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light btn-large blue-grey darken-3 text-shadow"
                                onclick="submitBookingForm(event)">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!-- Horizontal divider line -->
            <div class="custom-alert" id="alert"></div> <!-- Alert message div -->
            <p>We look forward to collaborating with you to make your event a resounding success!</p>
        </div>
    </div>
</section>

{% endblock %}